body  {
  background-color: #232323;
}

h1 {
  color: white;
}

#header {
  width: 100%;
  margin-bottom: 5%;
  text-align: center;
  background-color: green;
}

#container {
  max-width: 600px;
  margin: 0 auto;
}

#rgbDisplay {
  display: block;
}

.square {
  width: 30%;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
}

#difficulty-selector-bar {
  background-color: white;
  text-align: left;
}

#difficulty-setting {
  float: right;
  margin-left: none;
}

h2 {
  margin-left: 20%;
  display: inline;
  margin-right: 53%;
}

p {
  float: right;
}

#result-banner {
  height: 20%;
  background-color: green;
  vertical-align: bottom;
}
